header {
    width: 100%;
    height: 8.8rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}

header nav ul li a {
    color: var(--gray-100);
    font-size: 1.6rem;
    letter-spacing: -0.48px;
    transition: opacity .3s ease;
}

header nav ul li a:hover { 
    opacity: 0.7;
}

.s-hero {
    position: relative;
    width: 100%;
    padding-top: 11.3rem;
    height: 106.2rem;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.s-hero .text {
    position: relative;
    width: 100%;
    max-width: 71.9rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 6.4rem;
}

.s-hero .text h1 {
    font-weight: 600;
    letter-spacing: -1.68px;
}

.s-hero .text p {
    max-width: 55.6rem;
    margin: 0 auto;
    letter-spacing: -0.54px;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    color: var(--gray-300);
}

.s-hero .text .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
}